{% block sidebar %}

<style>
    .card {
        box-shadow: 0 16px 48px #E3E7EB;
    }
</style>

<!-- Sidebar Widgets Column -->

<div class="col-md-4 float-right ">
    <div class="card my-4">
        <h5 class="card-header">About Us</h5>
        <div class="card-body">
            <p class="card-text"> This film blog is for all film lovers and all opinions  are welcome here! If you would
                like to be part of the Film Blog, please send an email to colinshaw@outlook.com or leave a good review
                and we might just contact you ;). If approved you will
                get a username and login to use Film Blog and start sharing and showing off your inner critic. Hope you
                enjoy the blog :)
            </p>

            </form>
        </div>
    </div>
</div>

{% endblock sidebar %}