{% block sidebar %}

<!-- Sidebar Widgets Column -->

<div class="col-md-4 float-right ">
    <div class="card my-4">
        <h5 class="card-header text-white bg-dark mb-3">About Us</h5>
        <div class="card-body text-white bg-dark mb-3">
            <p class="card-text"> This film blog is for all film lovers and all opinions are welcome here! If you would
                like to be part of the Film Blog, please register for an account and start liking and sharing your
                thoughts ;). Enjoy Film Blog and start sharing and showing off your inner critic. Hope you
                enjoy the blog :)
            </p>

            
        </div>
    </div>
</div>

{% endblock sidebar %}